<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org"
>
<head 
    th:replace="~{layout :: head}"
>
</head>
<body>

<header 
    th:replace="~{layout :: header}"
>
</header>

<div 
    class="container mt-4" 
    style="max-width: 600px;"
>
    <div 
        class="card shadow-sm p-4"
    >
        <div 
            class="card-header bg-secondary-subtle"
        >
            <i 
                class="fa-solid fa-pen"
            >
            </i> 
            Todo 編集
        </div>

        <div 
            class="card-body"
        >
            <form 
                th:action="@{'/todo/' + ${todo.id}}" 
                method="post" 
                th:object="${todo}" 
                class="mt-4"
            >
                <input 
                    type="hidden" 
                    name="_method" 
                    value="put"
                >
                <input 
                    type="hidden" 
                    th:field="*{id}"
                >
                <input 
                    type="hidden" 
                    th:field="*{version}"
                >

                <div 
                    class="mb-3"
                >
                    <label 
                        for="title" 
                        class="form-label"
                    >
                        タイトル
                    </label>
                    <input 
                        type="text"
                        id="title"
                        th:field="*{title}"
                        class="form-control"
                        th:classappend="${#fields.hasErrors('title')} ? 'is-invalid'"
                    >
                    
                    <div 
                        class="invalid-feedback" 
                        th:if="${#fields.hasErrors('title')}"
                        th:errors="*{title}"
                    >
                        <!-- エラーメッセージが入る -->
                    </div>
                </div>


                <div 
                    class="mb-3"
                >
                    <label 
                        for="description" 
                        class="form-label"
                    >
                        詳細
                    </label>
                    <!-- th:field 入力値を保持 -->
                    <textarea 
                        id="description"
                        th:field="*{description}"
                        class="form-control"
                        th:classappend="${#fields.hasErrors('description')} ? 'is-invalid'"
                        style="height: 120px;">
                    </textarea>

                    <div 
                        class="invalid-feedback" 
                        th:if="${#fields.hasErrors('description')}"
                        th:errors="*{description}"
                    >
                    </div>
                </div>


                <div 
                    class="form-check mb-3"
                >
                    <input 
                        type="checkbox" 
                        th:field="*{done}" 
                        class="form-check-input"
                    >
                    <label 
                        class="form-check-label"
                    >
                        完了
                    </label>
                </div>
                <div 
                    class="card-footer text-end"
                >
                    <a 
                        href="/todo" 
                        class="btn btn-outline-secondary me-2"
                    >
                        <i 
                            class="fa-solid fa-arrow-left"
                        >
                        </i> 
                        一覧に戻る
                    </a>
                    <button 
                        type="submit" 
                        class="btn btn-primary"
                    >
                        更新
                    </button>
                </div>
    
            </form>
        </div>
    </div>
</div>

</body>
</html>
