<!DOCTYPE html>
<htmlxmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo 一覧</title>
</head>
<body>

<h1>Todo 一覧</h1>

<table border="1">
    <tr>
        <th>ID</th>
        <th>タイトル</th>
        <th>完了</th>
        <th>操作</th>
    </tr>

    <tr th:each="todo : ${todos}">
        <td th:text="${todo.id}"></td>
        <td th:text="${todo.title}"></td>
        <td th:text="${todo.done}"></td>
        <td>
            <a th:href="@{'/todo/' + ${todo.id} + '/edit'}">編集</a>
            <form th:action="@{'/todo/' + ${todo.id}}" method="post" style="display:inline;">
                <input type="hidden" name="_method" value="delete">
                <button type="submit">削除</button>
            </form>
        </td>
    </tr>

</table>

<a href="/todo/create">新規作成</a>


</body>