<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head 
    th:replace="~{layout :: head}"
>
</head>
<body>

<header 
    th:replace="~{layout :: header}"
>
</header>
<div 
    class="container"
>

    <div 
        class="d-flex justify-content-between align-items-center mt-3"
    >
        <h3 
            class="mb-4"
        >
            Todo 一覧
        </h3>
        <!-- 検索フォーム -->
        <div 
            class="d-flex"
        >
            <form 
                method="get" 
                class="d-flex" 
                th:action="@{/todo}" 
                style="max-width: 400px; height: 40px;"
            >
                <input 
                    type="text" 
                    name="keyword" 
                    class="form-control me-2" 
                    placeholder="タイトルで検索" 
                    th:value="${keyword}"
                >
                <button 
                    type="submit" 
                    class="btn btn-outline-primary me-2" 
                    style="width: 150px;"
                >
                    <i class="fa-solid fa-magnifying-glass"></i>検索
                </button>
                <a 
                    th:href="@{/todo(sort=${sort}, order=${order})}" 
                    class="btn btn-outline-secondary" 
                    style="width: 110px;"
                >
                    クリア
                </a>
                <input 
                    type="hidden" 
                    name="sort" 
                    th:value="${sort}"
                >
                <input 
                    type="hidden" 
                    name="order" 
                    th:value="${order}"
                >
            </form>
        </div>
    </div>

    <div 
        class="d-flex align-items-center mb-3"
    >
        <a 
            th:href="
                @{/todo/create(
                    sort=${sort}, 
                    order=${order}, 
                    keyword=${keyword}, 
                    filter=${filter},
                    page=${todoPage.number}
                )}
            " 
            class="btn btn-primary me-3"
        >
            新規作成        
        </a>
    </div>

    <div 
        class="d-flex justify-content-between align-items-center mt-3"
    >
        <!-- ページネーション -->
        <div 
            th:if="${todoPage.totalElements > 0}"
        >
            <nav>
                <ul 
                    class="pagination"
                >

                    <!-- 前へ -->
                    <li 
                        class="page-item" 
                        th:classappend="${todoPage.first} ? 'disabled'"
                    >
                        <!-- page:最初のページなら0を返す -->
                        <a 
                            class="page-link"
                            th:href="
                                @{/todo(
                                    page=${todoPage.number - 1}, 
                                    size=${todoPage.size},
                                    sort=${sort}, 
                                    order=${order}, 
                                    keyword=${keyword}, 
                                    filter=${filter})}
                            "
                        >
                            前へ
                        </a>
                    </li>

                    <!-- ページ番号(最大5件) -->
                    <li 
                        class="page-item"
                        th:each="
                            i : ${#numbers.sequence(
                                T(java.lang.Math).max(0, todoPage.number -2),
                                T(java.lang.Math).min(todoPage.totalPages -1, todoPage.number +2)
                            )}
                        "
                        th:classappend="${i == todoPage.number} ? 'active'"
                    >
                        <a 
                            class="page-link"
                            th:text="${i + 1}"
                            th:href="
                                @{/todo(
                                    page=${i}, 
                                    size=${todoPage.size},
                                    sort=${sort}, 
                                    order=${order}, 
                                    keyword=${keyword}, 
                                    filter=${filter}
                                )}
                            "
                        >
                        </a>
                    </li>

                    <!-- 次へ -->
                    <li 
                        class="page-item" 
                        th:classappend="${todoPage.last} ? 'disabled'"
                    >
                        <a 
                            class="page-link"
                            th:href="
                                @{/todo(
                                    page=${todoPage.number + 1}, 
                                    size=${todoPage.size},
                                    sort=${sort}, 
                                    order=${order}, 
                                    keyword=${keyword}, 
                                    filter=${filter}
                                    )}
                            "
                        >
                            次へ
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div 
            class="d-flex"
        >
            <!-- ソートドロップダウン -->
            <div 
                class="dropdown ms-3"
            >
                <button 
                    class="btn btn-outline-secondary dropdown-toggle"
                    type="button" 
                    data-bs-toggle="dropdown"
                >
                    並び替え
                </button>
                <ul 
                    class="dropdown-menu"
                >
                    <li>
                        <a 
                            class="dropdown-item"
                            th:href="
                                @{/todo(
                                    sort='createdAt', 
                                    order='desc', 
                                    keyword=${keyword}
                                )}
                            ">
                            作成日時（新しい順）
                        </a>
                    </li>
                    <li>
                        <a 
                            class="dropdown-item"
                            th:href="
                                @{/todo(
                                    sort='createdAt', 
                                    order='asc', 
                                    keyword=${keyword}
                                )}
                            "
                        >
                            作成日時（古い順）
                        </a>
                    </li>
                    <li>
                        <hr 
                            class="dropdown-divider"
                        >
                    </li>
                    <li>
                        <a 
                            class="dropdown-item"
                            th:href="
                                @{/todo(
                                    sort='title', 
                                    order='asc', 
                                    keyword=${keyword}
                                )}
                            "
                        >
                        タイトル（昇順）
                        </a>
                    </li>
                    <li>
                        <a 
                            class="dropdown-item"
                            th:href="
                                @{/todo(
                                    sort='title', 
                                    order='desc', 
                                    keyword=${keyword}
                                )}
                            "
                        >
                            タイトル（降順）
                        </a>
                    </li>
                </ul>
            </div>

            <!-- フィルタードロップダウン -->
            <div 
                class="dropdown ms-3"
            >
                <button 
                    class="btn btn-outline-secondary dropdown-toggle" 
                    type="button" 
                    data-bs-toggle="dropdown"
                >
                    表示
                </button>
                <ul 
                    class="dropdown-menu"
                >
                    <li>
                        <a 
                            class="dropdown-item"
                            th:href="
                                @{/todo(
                                    sort=${sort}, 
                                    order=${order}, 
                                    keyword=${keyword}, 
                                    filter='all'
                                )}
                            "
                        >
                            全て表示
                        </a>
                    </li>
                    <li>
                        <a 
                            class="dropdown-item"
                            th:href="
                                @{/todo(
                                    sort=${sort}, 
                                    order=${order}, 
                                    keyword=${keyword}, 
                                    filter='notdone'
                                )}
                            "
                        >
                        未完了のみ
                        </a>
                    </li>
                    <li>
                        <a 
                            class="dropdown-item"
                            th:href="
                                @{/todo(
                                    sort=${sort}, 
                                    order=${order}, 
                                    keyword=${keyword}, 
                                    filter='done'
                                )}
                            "
                        >
                        完了のみ
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <table 
        class="table table-striped table-hover"
    >
        <thead 
            class="table-dark"
        >
            <tr>
                <th>
                    タイトル
                    <a 
                        th:href="
                            @{/todo(
                                sort='title', 
                                order=${order == 'asc' ? 'desc' : 'asc'}, 
                                keyword=${keyword}
                            )}
                        " 
                        class="text-decoration-none"
                    >
                        <span 
                            th:if="${order == 'asc'}"
                        >
                            ▴
                        </span>
                        <span 
                            th:if="${order == 'desc'}"
                        >
                            ▾
                        </span>
                    </a>
                </th>
                <th>完了</th>
                <th>詳細</th>
                <th>作成日時</th>
                <th>操作</th>
            </tr>
        </thead>

        <tbody>
            <tr 
                th:each="todo : ${todoPage.content}"
            >
                <td 
                    th:text="${todo.title}"
                >
                </td>
                <td>
                    <span 
                        th:text="${todo.done ? '✓' : ''}"
                    >
                    </span>
                </td>
                <td 
                    style="
                        max-width: 200px; 
                        white-space: nowrap; 
                        overflow: hidden; 
                        text-overflow: ellipsis;
                    "
                    th:title="${todo.description}"
                >
                    <span 
                        th:text="${#strings.abbreviate(todo.description, 30)}"
                    >
                    </span>
                </td>
                <td 
                    th:text="${#temporals.format(todo.createdAt, 'yyyy-MM-dd HH:mm')}"
                >
                </td>

                <td>
                    <a 
                        th:href="@{/todo/{id}/edit(
                            id=${todo.id},
                            sort=${sort},
                            order=${order},
                            keyword=${keyword},
                            filter=${filter},
                            page=${todoPage.number}
                        )}" class="btn btn-primary btn-sm">
                        <i 
                            class="fa-solid fa-pen"
                        >
                        </i>
                        編集
                    </a>
                        
                    <button 
                        type="button" 
                        class="btn btn-danger btn-sm"
                        data-bs-toggle="modal"
                        data-bs-target="#deleteModal"
                        th:attr="data-id=${todo.id}"
                    >
                        <i 
                            class="fa-solid fa-trash"
                        >
                        </i>
                        削除
                    </button>
                </td>

            </tr>
        </tbody>
    </table>

    <!-- 削除確認モーダル -->
    <div 
        class="modal fade" 
        id="deleteModal" 
        tabindex="-1"
    >
        <div 
            class="modal-dialog"
        >
            <div 
                class="modal-content"
            >
                <div 
                    class="modal-header"
                >
                    <h5 
                        class="modal-title"
                    >
                        削除確認
                    </h5>
                    <button 
                        type="button" 
                        class="btn-close" 
                        data-bs-dismiss="modal"
                    >
                    </button>
                </div>
                <div 
                    class="modal-body"
                >
                    本当に削除しますか？
                </div>
                <div 
                    class="modal-footer"
                >
                    <button 
                        type="button" 
                        class="btn btn-secondary" 
                        data-bs-dismiss="modal"
                    >
                        キャンセル
                    </button>
                    <form 
                        id="deleteForm" 
                        method="post" 
                        class="d-inline"
                    >
                        <input 
                            type="hidden" 
                            name="_method" 
                            value="delete"
                        >
                        <button 
                            type="submit" 
                            class="btn btn-danger"
                        >
                            削除
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>

<div 
    th:replace="~{layout :: scripts}"
>
</div>
<script>
    document.addEventListener('keydown', function(e){
        if (e.altKey && e.key === 'n'){
            window.location.href = '/todo/create';
        }
    });

    // DOMツリーの内部から id="deleteModal" の要素を探して変数に入れる→画面にある deleteModal を取得
    const deleteModal = document.getElementById('deleteModal');
    //モーダルが表示される瞬間(show.bs.modal)を監視
    //その瞬間に実行される関数が呼ばれる(function...)
    deleteModal.addEventListener('show.bs.modal', function (e){

        //どの削除ボタンが押されたかを取得
        const id = e.relatedTarget.getAttribute('data-id');
        //フォームのactionを書き換える
        document.getElementById('deleteForm').action = `/todo/${id}`;

    });
</script>
</body>
</html>
