<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head}"></head>
<body>

<header th:replace="~{layout :: header}"></header>

<div class="container">
    <h2 class="mb-4">Todo 一覧</h2>

    <table class="table table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>タイトル</th>
                <th>完了</th>
                <th>詳細</th>
                <th>操作</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="todo : ${todos}">
                <td th:text="${todo.id}"></td>
                <td th:text="${todo.title}"></td>
                <td>
                    <span th:text="${todo.done ? '✓' : ''}"></span>
                </td>
                <td style="max-width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"
                    th:title="${todo.description}">
                    <span th:text="${#strings.abbreviate(todo.description, 30)}"></span>
                </td>


                <td>
                    <a th:href="@{'/todo/' + ${todo.id} + '/edit'}"
                       class="btn btn-sm btn-primary me-2">
                       <i class="fa-solid fa-pen"></i>編集
                    </a>

                    <form th:action="@{'/todo/' + ${todo.id}}" method="post" class="d-inline">
                        <input type="hidden" name="_method" value="delete">
                        <button type="submit" class="btn btn-sm btn-danger"
                                onclick="return confirm('本当に削除しますか？');">
                                <i class="fa-solid fa-trash"></i>削除
                        </button>
                    </form>
                </td>

            </tr>
        </tbody>
    </table>

    <a href="/todo/create" class="btn btn-success">
        <i class="fa-solid fa-plus"></i>新規作成
    </a>
</div>
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>

</body>
</html>
